<%= javascript_include_tag "three.min","OBJLoader","MTLLoader","OBJMTLLoader","angular.min","job_controllers"%>
<div class="padding-top68 indextbody" ng-app="job">
  <div class="container margin-top30" ng-controller="jobId">
    <div class="row">
      <div class="col-md-4">
        <div class="View-bg">
          <div class="Viewleft20">
            <p class="padding-b5">查看3D照片</p>
            <div class="Viewleftinput">
              <script type="text/javascript">
                var scene = new THREE.Scene();
                function search(){
                  $.post('/job/'+$('#job_name').val(),'',function(data,status){
                    var loader = new THREE.OBJMTLLoader();
                    loader.load( '/obj/'+data.id+'/'+data.id+'.obj', '/obj/'+data.id+'/'+data.id+'.mtl', function ( object ) {
                      $('#download').attr('href','/obj/'+data.id+'/'+data.id+'.zip'
                      
                      object.position.x = 0;
                      object.position.y = 0;
                      object.position.z = 0;
                      object.rotation.x = 0;
                      object.rotation.y = 0;
                      object.rotation.z = -1.6;
                      object.scale.x = 1;
                      object.scale.y = 1;
                      object.scale.z = 1;
                      scene.add( object );
                    } );
                  },'json');
                }
                    
              </script>
              <input name="" id='job_name' type="text" class="divinput"  placeholder="请输入你当时留下的邮箱地址" ng-model="name"/>
              <input name="" type="button" class="input-btn"  value="搜索" ng-click="queriedName=name;query()"/>
            </div>
          </div>
          <div class="Viewbgone"></div>
          <div class=" padding-top15">
            <p class="padding-b5 padding-120">"{{queriedName}}"的3D照片:</p>
            <div class="Viewleft-li">
              <ul>
                <li ng-repeat="job in results" class="col-lg-4{{ifStopLi(job.id)}}"><a href="" ng-click="$parent.currentId=job.id"><img src="/images/numlist123-20.jpg"/></a></li>
              </ul>
            </div>
          </div>
          <div class="Viewbgone"></div>
          <div class=" padding-top15">
            <p class="padding-b5 padding-120">来看看大家拍的3D照片吧！</p>
            <div class="Viewleft-li">
              <ul>
                <li class="col-lg-4 stopli"><a href="#" ng-click="currentId=name"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
                <li class="col-lg-4"><a href="#"><img src="/images/numlist123-20.jpg"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="View-bg">
          <div class="Viewright-title">样板照片1</div>
          <div class="Viewrightin">
            <div class="divimgs"><canvas style="height:532px;width:502px" id="viewport"></canvas></div>
            <a id="download" ng-attr-href="/obj/{{currentId}}/{{currentId}}.zip" target="_blank" class="down-3d">下载3d模型</a>
            <div class="Print-div">
            <a id="print" href="/order/place?job_id={{currentId}}">
            <img src="/images/numlist123-23.jpg"/><span>打印此模型</span>
            <p>( 5cm规格只要￥128 )</p>
             </a>
            </div>
            <div class="share-div">
            <a href="#">
            <img src="/images/numlist123-24.jpg"/><span>分享给朋友</span>
            <p>( 有机会可以获得优惠)</p>
             </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var camera = new THREE.PerspectiveCamera( 75, 502 / 532, 0.1, 1000 );
  var renderer = new THREE.WebGLRenderer({canvas:document.getElementById('viewport')});
  renderer.setSize( 502,532 );
  var ambient_light = new THREE.AmbientLight( 0xffffff );
  scene.add( ambient_light );
  var geometry = new THREE.CubeGeometry(1,1,1);
  var material = new THREE.MeshBasicMaterial({color: 0x00ff00});
  var cube = new THREE.Mesh(geometry, material);
  scene.add(cube);
  camera.position.z = 5;
  var render = function () {
    requestAnimationFrame(render);
    renderer.render(scene, camera);
  };
  render();
</script>
