<%= javascript_include_tag "three.min","OBJLoader","MTLLoader","OBJMTLLoader","angular.min","job_controllers","TrackballControls"%>
<div class="padding-top68 indextbody" ng-app="job">
  <div class="container margin-top30" ng-controller="jobId">
    <div class="row">
      <div class="col-md-4">
        <div class="View-bg">
          <div class="Viewleft20">
            <p class="padding-b5">查看3D照片</p>
            <div class="Viewleftinput">
              <script type="text/javascript">
                var scene = new THREE.Scene();
                var model=null;
              </script>
              <input name="" id='job_name' type="text" class="divinput"  placeholder="请输入你当时留下的邮箱地址" ng-model="name" ng-keyup="nameOnKeyup($event.keyCode)"/>
              <input name="" type="button" class="input-btn"  value="搜索" ng-click="queriedName=name"/>
            </div>
          </div>
          <div class=" padding-top15">
            <p class="padding-b5 padding-120">{{queryStatus.text}}</p>
          </div>
          <div class="Viewbgone"></div>
          <div class=" padding-top15">
            <p class="padding-b5 padding-120">来看看大家拍的3D照片吧！</p>
            <div class="Viewleft-li">
              <ul>
                <li ng-repeat="job in recommendations" class="col-lg-4{{ifStopLi(job.name)}}"><a href="" ng-click="$parent.queriedName=job.name"><img src="/images/numlist123-20.jpg"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="View-bg">
          <div class="Viewright-title">样板照片1</div>
          <div class="Viewrightin">
            <div class="divimgs"><canvas style="height:532px;width:502px" id="viewport"></canvas></div>
            <a id="download" ng-attr-href="/obj/{{currentObj.name}}/{{currentObj.name}}.zip" target="_blank" class="down-3d">下载3d模型</a>
            <div class="Print-div">
            <a id="print" href="/orders/place?job_id={{currentObj.id}}">
            <img src="/images/numlist123-23.jpg"/><span>打印此模型</span>
            <p>( 5cm规格只要￥128 )</p>
             </a>
            </div>
            <div class="share-div">
            <a href="#">
            <img src="/images/numlist123-24.jpg"/><span>分享给朋友</span>
            <p>( 有机会可以获得优惠)</p>
             </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var camera = new THREE.PerspectiveCamera( 75, 502 / 532, 0.1, 1000 );
  camera.position.z = 5;
  var controls = new THREE.TrackballControls( camera,document.getElementById('viewport') );
  controls.rotateSpeed = 0.8;
  controls.zoomSpeed = 1.2;
  controls.panSpeed = 0.8;
  controls.noZoom = false;
  controls.noPan = false;
  controls.staticMoving = false;
  controls.dynamicDampingFactor = 0.3;

  function logger(){
    console.log(123);
  }
  var renderer = new THREE.WebGLRenderer({canvas:document.getElementById('viewport'),alpha:true});
  renderer.setSize( 502,532 );
  var ambient_light = new THREE.AmbientLight( 0xffffff );
  scene.add( ambient_light );
  var render = function () {
    requestAnimationFrame(render);
    controls.update();
    renderer.render(scene, camera);
  };
  render();
</script>
