<% content_for :title do %>
<%= "重置密码 - " + Settings.TAGLINE %>
<% end %>
<%content_for :head do%>
<%= javascript_include_tag "parsley.min","parsley-messages.zh_cn"%>
<script>
$(document).ready(function() {
  $('#new_user').parsley({ successClass: '', errorClass: 'indent-inputred' });
  $('#new_user').parsley( 'addListener', listeners);
});
</script>
<%end%>
<div class="padding-top68 indextbody">
  <div class="container">
    <div class="indent-warp login-warp">
      <% if !flash[:alert].blank? %>
      <div class="notification n_failure"><%= flash[:alert]%></div>
      <% end %>
      <div class="orderlist-top fn18">重置密码</div>
      <div class="col-lg-12">
				<form method="post" id="new_user" action="/users/password" accept-charset="UTF-8">
					<input type="hidden" value="put" name="_method"/>
					<input type="hidden" value="<%= @user['reset_password_token']%>" name="user[reset_password_token]" id="user_reset_password_token" class="hidden"/>
          <div class="indent-inputin">


                            <input type="password" class="indent-input" name="user[password]" id="user_password" placeholder="请输入密码" parsley-required="true" parsley-validation-minlength="1" parsley-minlength="6" parsley-trigger="change" parsley-error-container="#register_password_validation" parsley-minlength-message="密码应至少6位"/>


            <span></span>
            <span id="register_password_validation"></span>
          </div>
          <div class="indent-inputin">



                            <input type="password" class="indent-input" name="user[password_confirmation]" id="user_password_confirmation" placeholder="请确认密码" parsley-required="true" parsley-equalto="#user_password" parsley-validation-minlength="1" parsley-trigger="change" parsley-error-container="#register_confirm_validation" parsley-equalto-message="密码不一致"/>


            <span></span>
            <span id="register_confirm_validation"></span>
          </div>

          <div class="indent-inputin">
            <input class="btn btn-primary indent-btn" type="submit" value="修改密码" name="commit"/>
          </div>
				</form>
        <div class="divnlink"><a href="/users/sign_in">登入</a></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var listeners={
  onFieldSuccess: function ( elem ) {
    $(elem).next().html('<img src="/images/numlist123-18.jpg"/>');
    return true;
  },
  onFieldError: function ( elem ) {
    $(elem).next().html('<img src="/images/numlist123-19.jpg"/>');
    return false;
  }
};
</script>
