
<div class="padding-top68">
  <div class="container">
    <div class="indent-warp">
      <div class="indent-step">
        <div class="col-xs-4 step-stopfirst"><span>1</span>
          <p>确认支付信息</p>
        </div>
        <div class="col-xs-4 step-stop"><span>2</span>
          <p>选择一个支付方进行支付</p>
        </div>
        <div class="col-xs-4"><span>3</span>
          <p>支付完成，等待收货</p>
        </div>
      </div>
      <div class="col-lg-12 padding-top20">
        <div class="payment-div">您需要支付<span>123</span>元，请选择支付方式</div>
        <div class="fn18 padding-top20">支付平台</div>
        <div class="payment-bank">
          <ul>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-13.jpg" /> </label>
            </li>
              <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-16.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-14.jpg" /> </label>
            </li><li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-15.jpg" /> </label>
            </li>
          
            </ul>
            <div class="clearfix"></div>
            </div>
        <div class="fn18">网银支付</div>
        <div class="payment-bank">
          <ul>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-1.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-2.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-3.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-4.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-5.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-6.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-7.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-8.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-9.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-10.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-11.jpg" /> </label>
            </li>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <img src="/images/bank-12.jpg" /> </label>
            </li>
           
          </ul>
          <div class="clearfix"></div>
        </div>
         <div class="text-center"> <button type="button" class="btn btn-primary btn-lg indent-btn2">去支付~</button></div>

      </div>
    </div>
  </div>
</div>