<div class="padding-top68">
  <div class="container">
    <div class="indent-warp">
      <div class="indent-step">
        <div class="col-xs-4 step-stopfirst"><span>1</span>
          <p>确认支付信息</p>
        </div>
        <div class="col-xs-4 step-stopfirst"><span>2</span>
          <p>选择一个支付方进行支付</p>
        </div>
        <div class="col-xs-4 step-stop"><span>3</span>
          <p>支付完成，等待收货</p>
        </div>
      </div>
      <div class="payment-pay">
      <div class="div-text"><img src="/images/numlist123-30.jpg" />支付失败！</div>
      <div>您的订单异常</div>
      </div>
    </div>
  </div>
</div>