<div class="padding-top68">
  <div class="container">
     <div class="indent-warp">
     <div class="orderlist-top fn18">订单详情</div>
     <div class="padding-top30 padding-110">
     <div class="col-lg-4"><img src="/images/numlist123-27.jpg" width="100%" /></div>

     <div class="col-lg-8">
   
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lineitem-table">
  <tr>
    <td class="td-leftbg">品名</td>
    <td>3cm成像</td>
  </tr>
  <tr>
    <td class="td-leftbg">订单号</td>
    <td>12332464664</td>
  </tr>
  <tr>
    <td class="td-leftbg">价格</td>
    <td>123元</td>
  </tr>
  <tr>
    <td class="td-leftbg">付款日期</td>
    <td>2013-12-23</td>
  </tr>
  <tr>
    <td class="td-leftbg">送货地址</td>
    <td>海市浦东新区金科路1233号  4-2 </td>
  </tr>
  <tr>
    <td class="td-leftbg">联系电话</td>
    <td>1264667999</td>
  </tr>
  <tr>
    <td class="td-leftbg">状态</td>
    <td>已签收</td>
  </tr>
  <tr>
    <td class="td-leftbg">快递号</td>
    <td>23445456646</td>
  </tr>

</table>

     </div>
</div>
     </div>
  </div>
</div>