<div class="padding-top68 indextbody">
  <div class="container">
     <div class="indent-warp">
     <div class="orderlist-top fn18">联系我们</div>
     <div class="col-lg-12 contactUs">
     <img src="/images/numlist123-33.jpg"  width="100%"/>
     <p>站酷网（www.zcool.com.cn），中国最具人气的大型综合性设计网站，2006年8月创立于北京。
站酷网聚集了中国绝大部分的专业设计师、艺术院校师生、潮流艺术家等年轻创意人群，是国内最活跃的原设计交流
平台。会员交流涉及：艺术创作、广告创意、交互设计、影视动漫、时尚文化等诸多创意产业。</p>
     <p>自创办以来，站酷网积极参与国内外重要设计赛事，并成功主办和协办数十场大型设计活动。同时，站酷网发起并
组织的一系列线下活动，在设计创意人群中具有极高的号召力与口碑。
</p>
     </div>
     </div>
  </div>
</div>
