    <div class="padding-top68">
<div id="myCarousel" data-ride="carousel" class="carousel slide"> 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item"> <img src="images/banner123-1.jpg" /> </div>
    <div class="item active"> <img src="images/banner123-1.jpg" /> </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
<div class="container marketing"> 
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-6 col-lg-4 index-imgs"> <img src="images/numlist123-2.jpg" />
      <p>由多台相机组成</p>
    </div>
    <div class="col-sm-6 col-lg-4 index-imgs"> <img src="images/numlist123-3.jpg" />
      <p>不同角度拍摄，瞬间成像</p>
    </div>
    <div class="col-sm-6 col-lg-4 index-imgslast"> <img src="images/numlist123-4.jpg" />
      <p>还可以把模型文件下载带走哦</p>
    </div>
  </div>
</div>
</div>
<!-- /.carousel --> 
<!-- Marketing messaging and featurettes
    ================================================== --> 
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
  <div class="row">
    <div class="index-triangle"></div>
    <div class="index-text">当然，你需要的话，我们还可以帮你打印出一个mini的你！</div>
    <div class="index-text"><img src="images/numlist123-7.jpg" width="100%" /></div>
    <!--地图-->
    <div class="index-map"> <img src="images/numlist123-8.jpg" width="100%" />
      <div class="index-maptext"></div>
      <div class="index-mapin">
        <div class="divtitle">你也想体验一下？<br />
          现在就来XX集市！</div>
        <p>地址：徐汇区静安路455号207</p>
        电话：201-1234467 </div>
    </div>
    <div class="index-faq"><span>FAQ</span></div>
    <div class="index-faqdl">
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。</dd>
      </dl>
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。本文教大家用
          PhotoShop制作闪亮的3D彩色粒子文字，非常棒的字效</dd>
      </dl>
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。</dd>
      </dl>
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。本文教大家用
          PhotoShop制作闪亮的3D彩色粒子文字，非常棒的字效</dd>
      </dl>
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。</dd>
      </dl>
      <dl>
        <dt>3D打印是用什么材质打印的啊？</dt>
        <dd>是采用高端材料打印。很时尚，采用高端材料打印。很时还是防水的。</dd>
      </dl>
    </div>
  </div>
</div>